<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin_layout">
<head>
    <meta charset="UTF-8">
    <title>All Products</title>
</head>
<body>

<div layout:fragment="admin-content">
    <div class="controller-sm">

        <!--/* ********************************************** */-->

        <div class="container">
            <div class="row">
                <div class="col-4">

                    <H4 class="py-2">List of All Products</H4>
                </div>

                <!--/* ********************************************** */-->

                <!--/* Pagination starts */-->
                <div class="col-8">
                    <nav aria-label="top-pagination">
                        <ul class="pagination pagination-sm mt-3">
                            <!--/* First page link */-->
                            <li class="page-item">
                                <a class="page-link"
                                   th:if="${currentPage > 1}"
                                   th:href="@{${paginationLink} + '1'} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}">First</a>
                                <span class="page-item disabled"
                                      th:unless="${currentPage > 1}">
                                <span class="page-link">First</span>
                            </span>
                            </li>
                            <!--/* Previous page link */-->
                            <li class="page-item">
                                <a class="page-link"
                                   th:if="${currentPage > 1}"
                                   th:href="@{${paginationLink} + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">Previous</a>
                                <span class="page-item disabled"
                                      th:unless="${currentPage > 1}">
                                <span class="page-link">Previous</span>
                            </span>
                            </li>
                            <!--/* Active pages links */-->
                            <li class="page-item" th:each="i: ${#numbers.sequence(1, totalPages)}">
                                <a class="page-link"
                                   th:if="${i != currentPage}"
                                   th:href="@{${paginationLink} + ${i} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">[[${i}]]</a>
                                <span class="page-item active" aria-current="page"
                                      th:unless="${i != currentPage}">
                                <span class="page-link">[[${i}]]</span>
                            </span>
                            </li>
                            <!--/* Next page link */-->
                            <li class="page-item">
                                <a class="page-link"
                                   th:if="${currentPage < totalPages}"
                                   th:href="@{${paginationLink} + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">Next</a>
                                <span class="page-item disabled"
                                      th:unless="${currentPage < totalPages}">
                                <span class="page-link">Next</span>
                            </span>
                            </li>
                            <!--/* Last page link */-->
                            <li class="page-item">
                                <a class="page-link"
                                   th:if="${currentPage < totalPages}"
                                   th:href="@{${paginationLink} + ${totalPages} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">Last</a>
                                <span class="page-item disabled"
                                      th:unless="${currentPage < totalPages}">
                                <span class="page-link">Last</span>
                            </span>
                            </li>

                        </ul>
                    </nav>
                </div>
                <!--/* Pagination ends */-->

            </div>
        </div>


        <table class="table">
            <thead>
            <tr>
                <th scope="col" style="width: 10%">
                    <a th:href="@{'/admin/all_products/page/' + ${currentPage} +
                    '?sortField=productId&sortDirection=' + ${reverseSortDirection}}"
                    style="text-decoration:none;">
                    Product ID
                    </a>
                </th>
                <th scope="col" style="width: 20%">
                    Image
                </th>
                <th scope="col"style="width: 40%">
                    <a th:href="@{'/admin/all_products/page/' + ${currentPage} +
                    '?sortField=productName&sortDirection=' + ${reverseSortDirection}}"
                       style="text-decoration:none;">
                        Product Name
                    </a>
                </th>
                <th scope="col" style="width: 10%">
                    <a th:href="@{'/admin/all_products/page/' + ${currentPage} +
                    '?sortField=productQuantity&sortDirection=' + ${reverseSortDirection}}"
                       style="text-decoration:none;">
                        Quantity
                    </a>
                </th>
                <th scope="col" style="width: 10%">
                    <a th:href="@{'/admin/all_products/page/' + ${currentPage} +
                    '?sortField=productPrice&sortDirection=' + ${reverseSortDirection}}"
                       style="text-decoration:none;">
                        Price, €
                    </a>
                </th>
                <th scope="col" class="justify-content-end" style="width: 10%">
                    Actions
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${all_products}">
                <th th:text="${product.getProductId()}">1</th>
                <td><img th:src="@{/images/product_images/0101128.jpg}" class="rounded float-start mx-auto d-block img-thumbnail"
                         alt="Samsung Galaxy Z Fold3 5G" width="128" height="108"
                         src="/static/images/product_images/0101128.jpg"/></td>
                <td th:text="${product.getProductName()}">Product Name</td>
                <td th:text="${product.getProductQuantity()}">Quantity</td>
                <td th:text="${'€ ' + product.getProductPrice()}">Price</td>
                <td>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a href="#" class="btn btn-primary btn-sm" role="button" data-bs-toggle="button">Edit</a>
                        <a href="#" class="btn btn-danger btn-sm" role="button" data-bs-toggle="button">Delete</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>


        <!--/* ********************************************** */-->

    </div>
</div>
</body>
</html>