<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin_layout">
<head>
    <meta charset="UTF-8">
    <title>All Products Categories</title>
</head>
<body>

<div layout:fragment="admin-content">
    <div class="controller-sm">

        <!--/* ********************************************** */-->

        <div class="container">
            <div class="row">
                <div class="col-4">

                    <H4 class="py-2">List of All Products Categories</H4>
                </div>

                <!--/* ********************************************** */-->

                <!--/* Pagination starts */-->
                <div class="col-8">
                    <nav aria-label="top-pagination">
                        <ul class="pagination pagination-sm mt-3">
                            <!--/* First page link */-->
                            <li class="page-item">
                                <a class="page-link"
                                   th:if="${currentPage > 1}"
                                   th:href="@{${paginationLink} + '1'} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}">First</a>
                                <span class="page-item disabled"
                                      th:unless="${currentPage > 1}">
                                <span class="page-link">First</span>
                            </span>
                            </li>
                            <!--/* Previous page link */-->
                            <li class="page-item">
                                <a class="page-link"
                                   th:if="${currentPage > 1}"
                                   th:href="@{${paginationLink} + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">Previous</a>
                                <span class="page-item disabled"
                                      th:unless="${currentPage > 1}">
                                <span class="page-link">Previous</span>
                            </span>
                            </li>
                            <!--/* Active pages links */-->
                            <li class="page-item" th:each="i: ${#numbers.sequence(1, totalPages)}">
                                <a class="page-link"
                                   th:if="${i != currentPage}"
                                   th:href="@{${paginationLink} + ${i} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">[[${i}]]</a>
                                <span class="page-item active" aria-current="page"
                                      th:unless="${i != currentPage}">
                                <span class="page-link">[[${i}]]</span>
                            </span>
                            </li>
                            <!--/* Next page link */-->
                            <li class="page-item">
                                <a class="page-link"
                                   th:if="${currentPage < totalPages}"
                                   th:href="@{${paginationLink} + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">Next</a>
                                <span class="page-item disabled"
                                      th:unless="${currentPage < totalPages}">
                                <span class="page-link">Next</span>
                            </span>
                            </li>
                            <!--/* Last page link */-->
                            <li class="page-item">
                                <a class="page-link"
                                   th:if="${currentPage < totalPages}"
                                   th:href="@{${paginationLink} + ${totalPages} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">Last</a>
                                <span class="page-item disabled"
                                      th:unless="${currentPage < totalPages}">
                                <span class="page-link">Last</span>
                            </span>
                            </li>

                        </ul>
                    </nav>
                </div>
                <!--/* Pagination ends */-->

            </div>
        </div>


        <table class="table">
            <thead>
            <tr>
                <th scope="col">
                    <a th:href="@{'/admin/all_categories/page/' + ${currentPage} +
                    '?sortField=categoryId&sortDirection=' + ${reverseSortDirection}}"
                       style="text-decoration:none;">
                    Category ID
                    </a>
                </th>
                <th scope="col">
                    <a th:href="@{'/admin/all_categories/page/' + ${currentPage} +
                    '?sortField=categoryName&sortDirection=' + ${reverseSortDirection}}"
                       style="text-decoration:none;">
                    Category Name
                    </a>
                </th>
                <th scope="col">
                    <a th:href="@{'/admin/all_categories/page/' + ${currentPage} +
                    '?sortField=categoryCreatedAt&sortDirection=' + ${reverseSortDirection}}"
                       style="text-decoration:none;">
                    Created At
                    </a>
                </th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="category : ${all_categories}">
                <th th:text="${category.getCategoryId()}">1</th>
                <td th:text="${category.getCategoryName()}">Category Name Name</td>
                <td th:text="${category.getCategoryCreatedAt()}">Created At</td>
                <td>Edit, Delete</td>
            </tr>
            </tbody>
        </table>


        <!--/* ********************************************** */-->

    </div>
</div>
</body>
</html>