<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin_layout">
<head>
    <meta charset="UTF-8">
    <title>Test page</title>
</head>
<body>

<div layout:fragment="admin-content">

    <div class="controller-sm">

        <div class="my-xl-n5">
            <h1>Admin test panel</h1>
        </div>

        <p>ExceptionTranslationFilter@2eb88812,
            org.springframework.security.web.access.intercept.FilterSecurityInterceptor@3445a76f]</p>
        <p>ExceptionTranslationFilter@2eb88812,
            org.springframework.security.web.access.intercept.FilterSecurityInterceptor@3445a76f]</p>
        <p>ExceptionTranslationFilter@2eb88812,
            org.springframework.security.web.access.intercept.FilterSecurityInterceptor@3445a76f]</p>
        <p>ExceptionTranslationFilter@2eb88812,
            org.springframework.security.web.access.intercept.FilterSecurityInterceptor@3445a76f]</p>

    </div>
</div>

</body>
</html>