<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>All products</title>
</head>
<body>

<div layout:fragment="content">

    <H4 class="pt-3">All products</H4>

    <div class="row py-2">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h5 class="my-0 fw-normal">SAMSUNG Galaxy Z Fold3 5G</h5>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li class="pb-2">
                            <img th:src="@{/images/GalaaxyZFold.png}" class="rounded mx-auto d-block"
                                 alt="Samsung Galaxy Z Fold3 5G" width="150" height="128"
                                 src="/static/images/GalaaxyZFold.png"/>
                        </li>
                        <li>Meet the Samsung Galaxy Z Fold3 5G1 with a 7.6-inch Infinity Flex QXGA+ 120Hz display and an
                            Under Display Camera.
                        </li>
                    </ul>
                    <h4 class="card-title pricing-card-title">1679.00 €</h4>
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary">Add to Cart</button>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h5 class="my-0 fw-normal">Nice product</h5>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Very shiny</li>
                        <li>Beautiful</li>
                        <li>Unrepeatable</li>
                        <li>Outstanding</li>
                    </ul>
                    <h4 class="card-title pricing-card-title">€ 99.99</h4>
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary">Add to Cart</button>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h5 class="my-0 fw-normal">Excellent product</h5>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Very shiny</li>
                        <li>Beautiful</li>
                        <li>Unrepeatable</li>
                        <li>Outstanding</li>
                    </ul>
                    <h4 class="card-title pricing-card-title">€ 2.35</h4>
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary">Add to Cart</button>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h5 class="my-0 fw-normal">The best product</h5>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Very shiny</li>
                        <li>Beautiful</li>
                        <li>Unrepeatable</li>
                        <li>Outstanding</li>
                    </ul>
                    <h4 class="card-title pricing-card-title">€ 356.00</h4>
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
    <!--            Row ends -->
    <!--            Row starts -->
    <div class="row py-2">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h5 class="my-0 fw-normal">SAMSUNG Galaxy Z Fold3 5G</h5>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Meet the Samsung Galaxy Z Fold3 5G1 with a 7.6-inch Infinity Flex QXGA+ 120Hz display and an
                            Under Display Camera.
                        </li>
                    </ul>
                    <h4 class="card-title pricing-card-title">1679.00 €</h4>
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary">Add to Cart</button>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h5 class="my-0 fw-normal">Nice product</h5>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Very shiny</li>
                        <li>Beautiful</li>
                        <li>Unrepeatable</li>
                        <li>Outstanding</li>
                    </ul>
                    <h4 class="card-title pricing-card-title">€ 99.99</h4>
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary">Add to Cart</button>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h5 class="my-0 fw-normal">Excellent product</h5>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Very shiny</li>
                        <li>Beautiful</li>
                        <li>Unrepeatable</li>
                        <li>Outstanding</li>
                    </ul>
                    <h4 class="card-title pricing-card-title">€ 2.35</h4>
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary">Add to Cart</button>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h5 class="my-0 fw-normal">The best product</h5>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Very shiny</li>
                        <li>Beautiful</li>
                        <li>Unrepeatable</li>
                        <li>Outstanding</li>
                    </ul>
                    <h4 class="card-title pricing-card-title">€ 356.00</h4>
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
    <!--            Row ends -->
</div>

</body>
</html>