<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="index">
<head>
    <title>All products</title>
</head>
<body>

<div layout:fragment="content">

    <!--/* ********************************************** */-->
    <div class="container">
        <div class="row">

            <!--/* Pagination starts */-->
            <div class="col-8">
                <nav aria-label="top-pagination">
                    <ul class="pagination pagination-sm">
                        <!--/* Previous page link */-->
                        <li class="page-item">
                            <a class="page-link"
                               th:if="${currentPage > 1}"
                               th:href="@{${paginationLink} + ${currentPage - 1}}">Previous</a>
                            <span class="page-item disabled"
                                  th:unless="${currentPage > 1}">
                                <span class="page-link">Previous</span>
                            </span>
                        </li>
                        <!--/* Active pages links */-->
                        <li class="page-item" th:each="i: ${#numbers.sequence(1, totalPages)}">
                            <a class="page-link"
                               th:if="${i != currentPage}"
                               th:href="@{${paginationLink} + ${i}}">[[${i}]]</a>
                            <span class="page-item active" aria-current="page"
                                  th:unless="${i != currentPage}">
                                <span class="page-link">[[${i}]]</span>
                            </span>
                        </li>
                        <!--/* Next page link */-->
                        <li class="page-item">
                            <a class="page-link"
                               th:if="${currentPage < totalPages}"
                               th:href="@{${paginationLink} + ${currentPage + 1}}">Next</a>
                            <span class="page-item disabled"
                                  th:unless="${currentPage < totalPages}">
                                <span class="page-link">Next</span>
                            </span>
                        </li>

                    </ul>
                </nav>
            </div>
            <!--/* Pagination ends */-->

            <!--/* Products count starts */-->
            <div class="col-2">
                <div class="justify-content-left">
                    <p>Total pages: <b>[[${totalPages}]]</b></p>
                </div>
            </div>
            <!--/* Products count ends */-->

            <!--/* Total pages starts */-->
            <div class="col-2">
                <div class="justify-content-right">
                    <p>Total products in store: <b>[[${totalItems}]]</b></p>
                </div>
            </div>
            <!--/* Total pages ends */-->

        </div>
    </div>

    <!--/* ********************************************** */-->

    <H4 class="py-2">All products</H4>

    <!--/* ********************************************** */-->

    <div class="row py-2" th:fragment="list">
        <div class="col-sm-3" th:each="product : ${all_products}">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h5 class="my-0 fw-normal" th:text="${product.getProductName()}">Product name</h5>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li class="pb-2">
                            <img th:src="@{/images/mobile-device.png}" class="rounded mx-auto d-block"
                                 alt="Samsung Galaxy Z Fold3 5G" width="128" height="128"
                                 src="/static/images/mobile-device.png"/>
                        </li>
                        <li th:text="${product.getProductDescription()}">Product description
                        </li>
                    </ul>
                    <h4 class="card-title pricing-card-title" th:text="${'€ ' + product.getProductPrice()}">Product
                        price</h4>
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>

</div>

<!--/* ********************************************** */-->
</body>
</html>