<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="index">
<head>
    <title>All products</title>
</head>
<body>

<div layout:fragment="content">

    <!--/* ********************************************** */-->
    <div class="container">
        <div class="row">

            <!--/* Pagination starts */-->
            <div class="col-8">
                <nav aria-label="top-pagination">
                    <ul class="pagination pagination-sm">
                        <!--/* First page link */-->
                        <li class="page-item">
                            <a class="page-link"
                               th:if="${currentPage > 1}"
                               th:href="@{${paginationLink} + '1'}">First</a>
                            <span class="page-item disabled"
                                  th:unless="${currentPage > 1}">
                                <span class="page-link">First</span>
                            </span>
                        </li>
                        <!--/* Previous page link */-->
                        <li class="page-item">
                            <a class="page-link"
                               th:if="${currentPage > 1}"
                               th:href="@{${paginationLink} + ${currentPage - 1}}">Previous</a>
                            <span class="page-item disabled"
                                  th:unless="${currentPage > 1}">
                                <span class="page-link">Previous</span>
                            </span>
                        </li>
                        <!--/* Active pages links */-->
                        <li class="page-item" th:each="i: ${#numbers.sequence(1, totalPages)}">
                            <a class="page-link"
                               th:if="${i != currentPage}"
                               th:href="@{${paginationLink} + ${i}}">[[${i}]]</a>
                            <span class="page-item active" aria-current="page"
                                  th:unless="${i != currentPage}">
                                <span class="page-link">[[${i}]]</span>
                            </span>
                        </li>
                        <!--/* Next page link */-->
                        <li class="page-item">
                            <a class="page-link"
                               th:if="${currentPage < totalPages}"
                               th:href="@{${paginationLink} + ${currentPage + 1}}">Next</a>
                            <span class="page-item disabled"
                                  th:unless="${currentPage < totalPages}">
                                <span class="page-link">Next</span>
                            </span>
                        </li>
                        <!--/* Last page link */-->
                        <li class="page-item">
                            <a class="page-link"
                               th:if="${currentPage < totalPages}"
                               th:href="@{${paginationLink} + ${totalPages}}">Last</a>
                            <span class="page-item disabled"
                                  th:unless="${currentPage < totalPages}">
                                <span class="page-link">Last</span>
                            </span>
                        </li>

                    </ul>
                </nav>
            </div>
            <!--/* Pagination ends */-->

            <!--/* Products sorting order selection starts */-->
            <div class="col-4">
                <div class="dropdown">
                    <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                        Sort Products By:
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                        <li><a class="dropdown-item" href="#">Name Ascending</a></li>
                        <li><a class="dropdown-item" href="#">Name Descending</a></li>
                        <li><a class="dropdown-item" href="#">Price Ascending</a></li>
                        <li><a class="dropdown-item" href="#">Price Descending</a></li>
                    </ul>
                </div>
            </div>
            <!--/* Category selection ends */-->

        </div>
    </div>

    <!--/* ********************************************** */-->

    <H4 class="py-2">All products</H4>

    <!--/* ********************************************** */-->

    <div class="row py-2" th:fragment="list">
        <div class="col-sm-3" th:each="product : ${all_products}">
            <div class="card text-center">
                <div class="card-body">
                    <a class="text-decoration-none" th:href="@{/products/product/{id}(id=${product.getProductId()})}">
                        <p class="fs-6" th:text="${product.getProductName()}">Product name</p>
                    </a>
                    <a class="text-decoration-none link-dark"
                       th:href="@{/products/product/{id}(id=${product.getProductId()})}">
                        <p class="fs-5 fw-bolder" th:text="${'€ ' + product.getProductPrice()}">Product price</p>
                    </a>
                    <a th:href="@{/products/product/{id}(id=${product.getProductId()})}">
                        <img th:src="@{/images/product_images/0101128.jpg}" class="rounded mx-auto d-block"
                             alt="Samsung Galaxy Z Fold3 5G" width="128" height="108"
                             src="/static/images/product_images/0101128.jpg"/>
                    </a>
                    <p class="mt-2" th:text="${product.getProductDescription()}">Product description</p>
                    <button type="button" class="btn btn-success btn-sm"
                            th:href="@{/cart/add/{id}(id=${product.getProductId()})}">
                        Add to Cart
                    </button>
                </div>
            </div>

        </div>
    </div>

</div>

<!--/* ********************************************** */-->
</body>
</html>