<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="index">
<head>
    <title>Cart</title>
</head>
<body>

<div layout:fragment="content">

    <!--/* ********************************************** */-->

    <div class="row align-items-md-stretch">
        <div class="col-md-9">

            <div class="h-100 px-5 py-3 border shadow rounded-3">
                <h4 class="fw-bolder">Your Cart</h4>
                <div class="container mt-4 mb-3">

                    <table class="border">
                        <tr>
                            <td class="my-4">
                                <div class="container">
                                    <div class="row" >
                                        <div class="col-4">
                                            <img th:src="@{/images/product_images/0101128.jpg}" class="rounded mx-auto d-block mt-3"
                                                 alt="Samsung Galaxy Z Fold3 5G" width="128" height="108"
                                                 src="/static/images/product_images/0101128.jpg"/>
                                        </div>
                                        <div class="col-6">
                                            <h4 class="my-3">Product Name</h4>
                                            <p>Product Description. Product Description. Product Description.
                                                Product Description. Product Description. Product Description.
                                                Product Description.</p>
                                            <div class="my-3" style="text-decoration: none;">
                                                <a th:href="@{#}">
                                                    REMOVE PRODUCT FROM CART
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-2 align-content-end mt-3">
                                            <b>€ 250.00</b>
                                        </div>
                                    </div>
                                </div>

                            </td>
                        </tr>
                    </table>


                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="h-100 p-4 bg-light border shadow rounded-3">
                <h4 class="my-4">The total amount</h4>
                <p>Amount payable - <b>€ 250.00</b></p>

                <p>Shipping - <b>FREE shipping</b></p>
                <hr style="border-top: 1px dotted #8c8b8b;" class="mx-1 my-4">
                <p><b>Total amount of (including VAT) - € 250</b></p>
                <button type="submit" class="btn btn-success btn-block">Go to Checkout</button>
            </div>
        </div>
    </div>

    <!--/* ********************************************** */-->
</div>
</body>
</html>