<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="index">
<head>
    <title>Cart</title>
</head>
<body>

<div layout:fragment="content">

    <!--/* ********************************************** */-->
    <div class="container-md">

        <H4 class="py-2">Your Cart</H4>

        <table class="table">
            <thead class="table-light">
            <tr>
                <th>ID</th>
                <th>Product Name</th>
                <th>Price, €</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Id</td>
                <td>Product Name</td>
                <td>Price, €</td>
            </tr>
            </tbody>
        </table>

    </div>

    <!--/* ********************************************** */-->
</div>
</body>
</html>