<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8">
    <title>Our Privacy Policy</title>
</head>
<body>

<div layout:fragment="content">

    <div class="mt-3 mb-4 ml-4">
        <h2>Our privacy policy</h2>
    </div>

    <p>We view the security of our customer's data as paramount. Any personal data you provide to us and
        from which you can be identified is stored securely and confidentially and is processed in
        accordance with applicable legislation and this privacy policy, which sets out what personal
        data we collect about you when you interact with us and how we use your data.</p>

    <p>We take appropriate technical and organizational measures to protect against unauthorized
        or unlawful processing of your personal data, including encrypting your information
        to applicable industry standards.</p>

    <p>Where we have given you (or where you have chosen) a password which enables you to access
        certain parts of our site, you are responsible for keeping this password confidential.
        We ask you not to share a password with anyone.</p>

    <p>So you only need to look in one place to find out all you need to know about how the Group collects
        and processes your personal information, this policy covers our Website our stores and any
        correspondence you have with the Group in relation to our retail offering.</p>

    <p>Any changes we make to this policy will be reflected on this page and notified to you by email,
        where appropriate.</p>

</div>

</body>
</html>